<div class="container">
  <h2>Contact CRUD App</h2>
  <p>List of Contact</p>
  <button (click)="openAddModal()" type="button" class="btn btn-primary">
    Add Contact
  </button>
  <div *ngIf="Contacts.length == 0">
    No Data to display
  </div>
  <table *ngIf="Contacts.length" class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Active/Inactive</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of Contacts">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phoneNo}}</td>
        <td *ngIf="contact.status"> Active </td>
        <td *ngIf="!contact.status">InActive</td>
        <td>
          <i class="fa fa-edit" aria-hidden="true" (click)="openEditModal(contact)"></i>&nbsp;
          <i class="fa fa-trash" aria-hidden="true" (click)="deleteContact(contact.id)"></i>
        </td>

      </tr>
    </tbody>
  </table>
</div>